# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:author`}. All Rights Reserved.${2}
snippet author
	`g:author`
snippet full_author
	`g:author` `g:email`
snippet date
	`strftime("%Y-%m-%d")`
